<mat-toolbar color="primary">
	<span>Villancicos SJ</span>
	<span class="example-spacer"></span>
	<span>{{votados}} / {{total}}</span>
	<button mat-icon-button class="example-icon"(click)="salir()" aria-label="Example icon-button with share icon">
      <mat-icon>exit_to_app</mat-icon>
    </button>
</mat-toolbar>
<div class="contenedor">
	<ng-container *ngFor="let votable of votables">
		<mat-card class="example-card" [class.votado]="votable.votado" (click)="votar(votable)">
			<mat-card-header>
				<mat-card-title>{{votable.nombre}}</mat-card-title>
			</mat-card-header>
		</mat-card>
	</ng-container>
</div>