.contenedor > * {
  margin: 15px;
  width: calc(100% / 3 - 62px);
  display: inline-block;
  padding: 50px 16px;
}
.votado {
  opacity: 0.5;
}
mat-card-header.mat-card-header {
  text-align: center;
  width: 100%;
  display: block;
}
.contenedor > *:nth-child(10n) {
  background: #1abc9c;
  color: white;
}

.contenedor > *:nth-child(10n + 1) {
  background: #2ecc71;
  color: white;
}

.contenedor > *:nth-child(10n + 2) {
  background: #3498db;
  color: white;
}
.contenedor > *:nth-child(10n + 3) {
  background: #9b59b6;
  color: white;
}
.contenedor > *:nth-child(10n + 4) {
  background: #34495e;
  color: white;
}

.contenedor > *:nth-child(10n + 5) {
  background: #f1c40f;
  color: white;
}

.contenedor > *:nth-child(10n + 6) {
  background: #e67e22;
  color: white;
}

.contenedor > *:nth-child(10n + 7) {
  background: #e74c3c;
  color: white;
}
.contenedor > *:nth-child(10n + 8) {
  background: #ecf0f1;
  color: black;
}
.contenedor > *:nth-child(10n + 9) {
  background: #95a5a6;
  color: white;
}

.contenedor {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  padding-top: 75px;
}

@media screen and (max-width: 599px) {
  .contenedor > * {
    width: calc(100% / 2 - 62px);
  }
  .contenedor {
    padding-top: 65px;
  }
}

@media screen and (max-width: 425px) {
  .mat-card-header .mat-card-title {
    font-size: 13pt;
  }
}
.example-spacer {
  flex: 1 1 auto;
}
